<div class="${baseClass}" style="display: none;">
	<span class="${baseClass}-close" data-dojo-attach-event="ondijitclick:hide">X</span>
	<b>Census Data</b><br />
	<p>Click on a location in the United States to view the census data for that region.</p>
	<!--
	<hr />
	<b>Search</b><br />
	<label>
		Search By: 
		<select data-dojo-attach-point="mapLayerSelect" data-dojo-attach-event="change:_layerChange"></select>
	</label><br />
	<label>
		Field: 
		<select data-dojo-attach-point="layerFieldSelect" data-dojo-attach-event="change:_fieldChange"></select>
	</label><br />
	<label>
		Operation: 
		<select data-dojo-attach-point="operationSelect">
			<option class="for-numeric" value="<">&lt;</option>
			<option value="=">=</option>
			<option class="for-numeric" value=">">&gt;</option>
			<option class="for-text" value="like">LIKE</option>
		</select>
	</label><br />
	<label>
		Value:
		<input type="text" data-dojo-attach-point="searchValueNode" />
	</label><br />
	
	<button type="button" data-dojo-attach-event="ondijitclick:_search">Search</button>
	-->
</div>