<div>
	<b>Populations and Households</b>
	<table>
		<thead>
	
			<!-- 
	
	AVE_HH_SZ: 2.81
	HSEHLD_1_M: 29
	HSEHLD_1_F: 31
	MARHH_CHD: 137
	MARHH_NO_C: 148
	MHH_CHILD: 10
	FHH_CHILD: 29
	FAMILIES: 348
	AVE_FAM_SZ: 3.09
	VACANT: 27
	OWNER_OCC: 337
	RENTER_OCC: 86
			-->
		</thead>
		<tbody>
			<tr>
				<td>Population:</td>
				<td>${POP2000}</td>
			</tr>
			<tr>
				<td>Population/Sq.Mile:</td>
				<td>${POP00_SQMI}</td>
			</tr>
			<tr>
				<td>Households:</td>
				<td>${HOUSEHOLDS}</td>
			</tr>
			<tr>
				<td>Housing Units:</td>
				<td>${HSE_UNITS}</td>
			</tr>
			<tr>
				<td>Square Miles:</td>
				<td>${SQMI}</td>
			</tr>
		</tbody>	
	</table>
	<b>Ethnic Groups</b>
	<div id="ethnicgraph"></div>
	<!--<table>
		<tbody>
			<tr>
				<td>Caucasian</td>
				<td>${WHITE}</td>
			</tr>
			<tr>
				<td>African-American</td>
				<td>${BLACK}</td>
			</tr>
			<tr>
				<td>
					Native American<br />
					Alaskan Native
				</td>
				<td>${AMERI_ES}</td>
			</tr>
			<tr>
				<td>Asian</td>
				<td>${ASIAN}</td>
			</tr>
			<tr>
				<td>
					Hawaiian /<br />
					Pacific Islander
				</td>
				<td>${HAWN_PI}</td>
			</tr>
			<tr>
				<td>Hispanic</td>
				<td>${HISPANIC}</td>
			</tr>
			<tr>
				<td>Other</td>
				<td>${OTHER}</td>
			</tr>
			<tr>
				<td>MultiRacial</td>
				<td>${MULT_RACE}</td>
			</tr>
		</tbody>
	</table>-->
	<b>Males/Females</b>
	<div id="gendergraph"></div>
	<!--<table>
		<thead>
			<tr>
				<th>Male</th>
				<th>Female</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>${MALES}</td>
				<td>${FEMALES}</td>
			</tr>
		</tbody>
	</table>-->
	<b>Ages</b>
	<div id="agegraph"></div>
	<!--
	<table>
		<tbody>
			<tr>
				<td>&lt;5</td>
				<td>${AGE_UNDER5}</td>
			</tr>
			<tr>
				<td>5-17</td>
				<td>${AGE_5_17}</td>
			</tr>
			<tr>
				<td>18-21</td>
				<td>${AGE_18_21}</td>
			</tr>
			<tr>
				<td>22-29</td>
				<td>${AGE_22_29}</td>
			</tr>
			<tr>
				<td>30-39</td>
				<td>${AGE_30_39}</td>
			</tr>
			<tr>
				<td>40-49</td>
				<td>${AGE_40_49}</td>
			</tr>
			<tr>
				<td>50-64</td>
				<td>${AGE_50_64}</td>
			</tr>
			<tr>
				<td>&gt64</td>
				<td>${AGE_65_UP}</td>
			</tr>
			<tr>
				<td>Median Age</td>
				<td>${MED_AGE}</td>
			</tr>
			<tr>
				<td>Male Median Age</td>
				<td>${MED_AGE_M}</td>
			</tr>
			<tr>
				<td>Female Median Age</td>
				<td>${MED_AGE_F}</td>
			</tr>
		</tbody>
	</table>-->
</div>