<div class="${baseClass}" style="display: none;">
	<span class="${baseClass}-close" data-dojo-attach-event="ondijitclick:hide">X</span>
	<b>Census Data</b><br />
	<p>
	  Click on a location in the United States to view the census data for that region.
	  You can also use the dropdown tools to select a State, County, or Blockgroup.
	</p>
	
	<div >
		<b>State Selector: </b>
		<select class='stateselect'></select>
	</div>
	
	<div>
		<b>County Selector: </b>
		<select class='countyselect'></select>
	</div>
	
	<div>
		<b>Block Group Selector: </b>
		<select class='blockgroupselect'></select>
	</div>
	
</div>