<div>
	<b>Populations and Households</b>
	<table>
		<thead>
	
			<!-- 
	
	AVE_HH_SZ: 2.81
	HSEHLD_1_M: 29
	HSEHLD_1_F: 31
	MARHH_CHD: 137
	MARHH_NO_C: 148
	MHH_CHILD: 10
	FHH_CHILD: 29
	FAMILIES: 348
	AVE_FAM_SZ: 3.09
	VACANT: 27
	OWNER_OCC: 337
	RENTER_OCC: 86
			-->
		</thead>
		<tbody>
			<tr>
				<td>Population:</td>
				<td>${POP2000}</td>
			</tr>
			<tr>
				<td>Population/Sq.Mile:</td>
				<td>${POP00_SQMI}</td>
			</tr>
			<tr>
				<td>Households:</td>
				<td>${HOUSEHOLDS}</td>
			</tr>
			<tr>
				<td>Housing Units:</td>
				<td>${HSE_UNITS}</td>
			</tr>
			<tr>
				<td>Square Miles:</td>
				<td>${SQMI}</td>
			</tr>
		</tbody>	
	</table>
	<b>Ethnic Groups</b>
	<div class="censusethnic"></div>
	<b>Males/Females</b>
	<div class="censusgender"></div>
	<b>Ages</b>
	<div class="censusages"></div>
	<div class="censusmedians"></div>
</div>