<table>
	<tbody>
		<tr>
			<td>Population:</td>
			<td>${POP2000}</td>
		</tr>
		<tr>
			<td>Households:</td>
			<td>${HOUSEHOLDS}</td>
		</tr>
		<tr>
			<td>Housing Units:</td>
			<td>${HSE_UNITS}</td>
		</tr>
	</tbody>	
</table>
