<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	    <title>Y2K Map</title>
	    <link rel="stylesheet" href="http://js.arcgis.com/3.12/dijit/themes/nihilo/nihilo.css">
    	<link rel="stylesheet" href="https://js.arcgis.com/3.12/esri/css/esri.css" />
    	<link rel="stylesheet" href="css/y2k.css" />
    	<script type="text/javascript">
    	  dojoConfig = {
    	    async: true,
    	    packages: [
    	      {
                name: 'y2k',
                location: location.pathname.replace(/\/[^\/]*$/, '') + '/js'
              },
              {
                name: "d3",
                location: "http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/"
              },
	      {
		name: "jquery",
		location: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2",
		main: "jquery"
	      },
	      {
		name: "underscore",
		location: "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0",
		main: "underscore"
	      },
	      {
		name: "backbone",
		location: "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2",
		main: "backbone"
	      }
    	    ]
    	  };
    	</script>
    	<script src="https://js.arcgis.com/3.12/"></script>
    	
    </head>
    <body class="nihilo">
    	<div id="mainwindow" data-dojo-type="dijit/layout/BorderContainer" 
    		data-dojo-props="design:'headline',gutter:false,liveSplitters: true"
    	    style="width: 100%; height: 100%; margin: 0;">
    		<div id="header" 
           		data-dojo-type="dijit/layout/ContentPane"
           		data-dojo-props="region:'top',splitter:true">
	        	<h1>Year 2000 Map</h1>
	        	<div id="buttonbar">
	        		<button id="census-btn" data-dojo-type="dijit/form/Button">Census</button>
	        	</div>
	        </div>
	        <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center',splitter:true">
	        	<div id="census-widget"></div>
        	</div>
        	<div id="footer"
        		data-dojo-type="dijit/layout/ContentPane" 
        		data-dojo-props="region:'bottom',splitter:true"
        		style="height:21px;">
        		<span>Courtesy of the Y2K Society</span>	
        	</div>
    	</div>
        <script type="text/javascript" src="js/app.js"></script>
	<script type="text/template" id="stateitemtemplate">
	    <option value="<%= STATE_NAME %>" data-fips="<%= STATE_FIPS %>"><%= STATE_NAME %></option>
	</script>
	<script type="text/template" id="countyitemtemplate">
	    <option value="<%= NAME %>" data-fips="<%= CNTY_FIPS %>"><%= NAME %></option>
	</script>
	<script type="text/template" id="blkgrpitemtemplate">
	    <option value="<%= BLKGRP %>" data-fips="<%= BLKGRP %>"><%= BLKGRP %></option>
	</script>
    </body>
</html>
