<div class="${baseClass}" style="display: none;">
  <span class="${baseClass}-close" data-dojo-attach-event="ondijitclick:hide">X</span>
  <b>Census Data</b><br />
  <p>
    Click on a location in the United States to view the census data for that region.
    You can also use the dropdown tools to select a State, County, or Blockgroup.
  </p>

  <div >
    <b>State Selector: </b>
    <select >
	<option ng-model="selectedState"
		ng-options="state.STATE_NAME for state in stateList"></option>
    </select>
  </div>
  
  <div>
    <b>County Selector: </b>
    <select ng-model="selectedCounty"
            ng-options="county.NAME for county in countyList"></select>
  </div>

  <div>
    <b>Block Group Selector: </b>
    <select ng-model="selectedBlockGroup"
	    ng-options="blkgrp.BLKGRP for blkgrp in blockGroupList"></select>
  </div>
	
</div>